<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/Content/MainStyle.css" rel="stylesheet" />
    <script src="~/Scripts/Main/Main.js" type="text/javascript"></script>
    
</head>
<body>
    
    @RenderBody()
</body>
</html>
